:root {
  /* Couleurs principales */
  --background-dark: #121212;
  --background-medium: #222222;
  --background-medium-alt: #1b1b1b;
  --background-table-header: #1565c0;

  --text-light: #eeeeee;
  --text-muted: #666666;
  --text-on-button: #121212;

  --blue-primary: #42a5f5;
  --blue-primary-hover: #1e88e5;

  --white: #ffffff;
}
